*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

.clockContainer{
    background-color: black;
    height:30vw;
    width: 30vw;
    /* border: 2px solid white; */
    background: url(final\ clock.png) no-repeat;
    /* background-repeat: no-repeat; */
    background-size: 100%;
    margin: auto;
    margin-top: 150px;
    position: relative;
 
}
.t{
    position: absolute;
    font-size: 27px;
    color:blue ;
    top: 6%;
    left: 48%;
}
.th{
    position: absolute;
    font-size: 27px;
    color:blue ;
    top: 47%;
    left: 91%;
}
.s{
    position: absolute;
    font-size: 27px;
    color:blue ;
    top: 87%;
    left: 49%;
}
.n{
 
    position: absolute;
    font-size: 27px;
    color:blue ;
    top: 47%;
    left: 9%;
}

.hour,.minute,.second{
transform-origin: bottom;
    position: absolute;
    /* background-color: red; */
    border-radius: 5px;

}
.c{
    background-color: white;
    border: solid red 3px;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    position: absolute;
    top: 49%;
    left: 49.5%;
}
.hour{
    width: 1%;
    height: 20.5%;
    top: 30%;
    left: 50.5%;
    /* display: none; */
    background-color: blue;

}
.minute{
    background-color: blue;
    opacity: 0.8;
    width: 1%;
    height: 29.5%;
    top: 21%;
    left: 50.5%;
}

.second{
    /* display: none; */
    background-color: blue;
    width: 1%;
    height: 38.5%;
    top: 12%;
    left: 50.5%;
}

@media screen and (max-width:412px) {

 .t{
    position: absolute;
    font-size: 16px;
    color:blue ;
    top: 7%;
    left: 44%;
}   
.th{
    position: absolute;
    font-size: 16px;
    color:blue ;
    top: 42%;
    left: 88%;
}   .s{
    position: absolute;
    font-size: 16px;
    color:blue ;
    top: 80%;
    left: 48%;
}   .n{
    position: absolute;
    font-size: 16px;
    color:blue ;
    top: 42%;
    left: 10%;
}   

.c{
    background-color: white;
    border: solid red 3px;
    border-radius: 50%;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 49%;
    left: 49.5%;
}
}